<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title th:text="#{title.sample}"></title>

	<!-- KRDS CSS -->
	<link rel="stylesheet" type="text/css" th:href="@{/css/component/output.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/css/egovframe.css}"/>
	<script th:inline="javascript" th:src="@{/js/jquery.min.js}"></script>
	<script th:inline="javascript" th:src="@{/js/egovframework/common.js}" defer></script>
	<script th:inline="javascript" defer>
		function sampleSearch() {
            if (notNullCheck($('#searchKeyword').val())) {
				$('#listForm').attr('method', 'get').attr('action', contextPath + '/egovSampleList.do').submit();
            } else {
            	alert(/*[[#{search.error}]]*/'검색어를 입력해주세요.');
            }
		}

		function samplePagination(pageIndex) {
        	$('#pageIndex').val(pageIndex);
        	$('#listForm').attr('method', 'get').attr('action', contextPath + '/egovSampleList.do').submit();
        }

        function sampleCreate() {
        	$('#listForm').attr('method', 'post').attr('action', contextPath + '/addSampleView.do').submit();
        }

        function sampleDetail(id) {
            $('#id').val(id);
            $('#listForm').attr('method', 'post').attr('action', contextPath + '/updateSampleView.do').submit();
        }
    </script>
</head>

<body>
<div id="container" class="inner">

	<!-- Page Title -->
	<h2 class="heading-large" th:text="#{list.sample}"></h2>

	<div id="content_pop">
		<form id="listForm" th:object="${sampleVO}">
			<input type="hidden" th:id="id" th:name="id" />
			<input type="hidden" th:id="pageIndex" th:name="pageIndex" th:value="1" />

			<!-- Search Form -->
			<div class="form-group">
				<div class="search-wrap">
					<div class="search-body">
						<div class="form-conts searchOption">
							<select id="searchCondition" name="searchCondition" class="krds-form-select medium" th:title="#{search.choose}">
								<option th:text="Name" th:value="1" th:selected="${sampleVO.searchCondition} == 1"></option>
								<option th:text="ID" th:value="0" th:selected="${sampleVO.searchCondition} == 0"></option>
							</select>
						</div>
						<div class="form-conts btn-ico-wrap searchKeyword">
							<input type="text" id="searchKeyword" name="searchKeyword" th:value="${sampleVO.searchKeyword}" class="krds-input medium" th:placeholder="#{search.keyword}">
							<button type="button" class="krds-btn medium icon" th:onclick="sampleSearch()">
								<span class="sr-only" th:text="#{button.search}"></span>
								<i class="svg-icon ico-sch"></i>
							</button>
						</div>
					</div>
					<div class="page-btn-wrap">
						<button type="button" class="krds-btn medium" th:text="#{button.create}" th:onclick="sampleCreate()"></button>
					</div>
				</div>
			</div>
		</form>

		<!-- List -->
		<div class="krds-table-wrap">
			<table class="tbl col data">
				<colgroup>
					<col style="width: 10%;">
					<col style="width: 20%;">
					<col style="width: 20%;">
					<col style="width: 30%;">
					<col style="width: 10%;">
					<col style="width: 10%;">
				</colgroup>
				<thead>
					<tr>
						<th scope="col" class="text-center">No</th>
						<th scope="col" class="text-center"><span th:text="#{title.sample.id}"></span></th>
						<th scope="col" class="text-center"><span th:text="#{title.sample.name}"></span></th>
						<th scope="col" class="text-center"><span th:text="#{title.sample.description}"></span></th>
						<th scope="col" class="text-center"><span th:text="#{title.sample.useYn}"></span></th>
						<th scope="col" class="text-center"><span th:text="#{title.sample.regUser}"></span></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="result, iterStat : ${resultList}">
						<td class="text-center" th:text="${paginationInfo.totalRecordCount + 1 - ((sampleVO.pageIndex - 1) * sampleVO.pageSize + iterStat.count)}"></td>
						<td class="text-center">
							<a href="#" th:onclick="sampleDetail([[${result.id}]])" th:text="${result.id}"></a>
						</td>
						<td class="text-center" th:text="${result.name}"></td>
						<td class="text-center" th:text="${result.description}"></td>
						<td class="text-center">
							<span th:if="${result.useYn == 'Y'}" th:text="#{input.yes}"></span>
							<span th:if="${result.useYn == 'N'}" th:text="#{input.no}"></span>
						</td>
						<td class="text-center" th:text="${result.regUser}"></td>
					</tr>
					<tr th:if="${resultList == null or resultList.isEmpty()}">
						<td class="text-center" colspan="6" th:text="#{info.nodata.msg}"></td>
					</tr>
				</tbody>
			</table>
		</div>

		<!-- Pagination -->
		<div id="paging" class="krds-pagination w-page" th:utext="${#egovKrdsPaginationRenderer.renderPagination(paginationInfo, 'samplePagination')}"></div>

	</div>

</div>

</body>
</html>
